interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.first.org/data/v1/epss?cve=CVE-2021-44228%2CCVE-2022-22965&limit=2
  response:
    body:
      string: '{"status":"OK","status-code":200,"version":"1.0","access":"public","total":2,"offset":0,"limit":2,"data":[{"cve":"CVE-2022-22965","epss":"0.996380000","percentile":"0.999480000","date":"2026-09-11"},{"cve":"CVE-2021-44228","epss":"0.999990000","percentile":"1.000000000","date":"2026-09-11"}]}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.first.org/data/v1/epss/schema> rel=describedBy
      x-access:
      - public, max-age=86400, s-maxage=86400
      x-limit:
      - '2'
      x-offset:
      - '0'
      x-total:
      - '2'
    status:
      code: 200
      message: OK
version: 1
