interactions:
- request:
    body: ''
    headers:
      auth-key:
      - bc41d2de3484d88491d0bfe2e9870a5a178a765f6527df45
    method: GET
    uri: https://feodotracker.abuse.ch/downloads/ipblocklist.json
  response:
    body:
      string: "[\n    {\n        \"ip_address\": \"162.243.103.246\",\n        \"port\":
        8080,\n        \"status\": \"offline\",\n        \"hostname\": null,\n        \"as_number\":
        14061,\n        \"as_name\": \"DIGITALOCEAN-ASN\",\n        \"country\": \"US\",\n
        \       \"first_seen\": \"2022-06-04 21:24:53\",\n        \"last_online\":
        \"2026-03-07\",\n        \"malware\": \"Emotet\"\n    },\n    {\n        \"ip_address\":
        \"50.16.16.211\",\n        \"port\": 443,\n        \"status\": \"online\",\n
        \       \"hostname\": \"ec2-50-16-16-211.compute-1.amazonaws.com\",\n        \"as_number\":
        14618,\n        \"as_name\": \"AMAZON-AES\",\n        \"country\": \"US\",\n
        \       \"first_seen\": \"2025-12-30 13:56:31\",\n        \"last_online\":
        \"2026-03-12\",\n        \"malware\": \"QakBot\"\n    },\n    {\n        \"ip_address\"[...]
