interactions:
- request:
    body: ''
    headers:
      apikey:
      - '[REDACTED]'
    method: GET
    uri: https://services.nvd.nist.gov/rest/json/cves/2.0?lastModEndDate=2026-09-02T19%3A28%3A40.000&lastModStartDate=2026-08-26T19%3A28%3A40.000&resultsPerPage=2000&startIndex=0
  response:
    body:
      string: '{"resultsPerPage": 2000, "startIndex": 0, "totalResults": 6354, "format":
        "NVD_CVE", "version": "2.0", "timestamp": "2026-09-02T19:28:41.200", "vulnerabilities":
        [{"cve": {"id": "CVE-2015-3246", "sourceIdentifier": "secalert@redhat.com",
        "published": "2015-08-11T14:59:07.040", "lastModified": "2026-08-27T04:16:36.600",
        "vulnStatus": "Analyzed", "cveTags": [], "descriptions": [{"lang": "en", "value":
        "libuser before 0.56.13-8 and 0.60 before 0.60-7, as used in the userhelper
        program in the usermode package, directly modifies /etc/passwd, which allows
        local users to cause a denial of service (inconsistent file state) by causing
        an error during the modification. NOTE: this issue can be combined with CVE-2015-3245
        to gain privileges."}, {"lang": "es", "value": "Vulnerabilidad en libuser
        en versiones anteriores 0.56.13-8 y 0.60 en versiones anteriores a 0.60.7,
        tal como se utiliza en el programa userhelper en el paquete usermode, modifica
        directamente /etc/passwd, lo que permite a usuarios locales provocar una denegaci\u00f3n
        de servicio (estado de archivo inconsistente) causando un error durante la
        modificaci\u00f3n. NOTA: este problema se puede combinar con CVE-2015-3245
        para obtener privilegios."}], "affected": [{"source": "secalert@redhat.com",
        "affectedData": [{"vendor": "n/a", "product": "n/a", "versions": [{"version":
        "n/a", "status": "affected"}]}]}], "metrics": {"cvssMetricV31": [{"source":
        "134c704f-9b21-4f2e-91b3-4a467353bcc0", "type": "Secondary", "cvssData": {"version":
        "3.1", "vectorString": "CVSS:3.1/AV:L/AC:H/PR:N/UI:N/S:U/C:N/I:N/A:H", "baseScore":
        5.1, "baseSeverity": "MEDIUM", "attackVector": "LOCAL", "attackComplexity":
        "HIGH", "privilegesRequired": "NONE", "userInteraction": "NONE", "scope":
        "UNCHANGED", "confidentialityImpact": "NONE", "integrityImpact": "NONE", "availabilityImpact":
        "HIGH"}, "exploitabilityScore": 1.4, "impactScore": 3.6}], "cvssMetricV2":
        [{"source": "nvd@nist.gov", "type": "Primary", "cvssData": {"version": "2.0",
        "vectorString": "AV:L/AC:L/Au:N/C:C/I:C/A:C", "baseScore": 7.2, "accessVector":
        "LOCAL", "accessComplexity": "LOW", "authentication": "NONE", "confidentialityImpact":
        "COMPLETE", "integrityImpact": "COMPLETE", "availabilityImpact": "COMPLETE"},
        "baseSeverity": "HIGH", "exploitabilityScore": 3.9, "impactScore": 10.0, "acInsufInfo":
        false, "obtainAllPrivilege": true, "obtainUserPrivilege": false, "obtainOtherPrivilege":
        false, "userInteractionRequired": false}], "ssvcV203": [{"source": "134c704f-9b21-4f2e-91b3-4a467353bcc0",
        "ssvcData": {"timestamp": "2026-08-26T00:00:00+00:00", "id": "CVE-2015-3246",
        "options": [{"exploitation": "active"}, {"automatable": "no"}, {"technicalImpact":
        "total"}], "role": "CISA Coordinator", "version": "2.0.3"}}]}, "cisaExploitAdd":
        "2026-08-26", "cisaActionDue": "2026-09-09", "cisaRequiredAction": "Apply
        mitigations in accordance with vendor instructions, ensuring compliance with
        CISA\u2019s BOD 26-04 Prioritizing Security Updates Based on Risk (see URL
        in Notes) guidance and CISA\u2019s \u201cForensics Triage Requirements\u201d
        (see URL in Notes). Follow applicable BOD 26-04 guidance for cloud services
        or discontinue use of the product if mitigations are unavailable. Stakeholders
        are responsible for evaluating each asset''s internet exposure and ensuring
        adherence to BOD 26-04 patching guidelines.", "cisaVulnerabilityName": "Red
        Hat Libuser Race Condition Vulnerability", "weaknesses": [{"source": "nvd@nist.gov",
        "type": "Primary", "description": [{"lang": "en", "value": "CWE-264"}]}, {"source":
        "134c704f-9b21-4f2e-91b3-4a467353bcc0", "type": "Secondary", "description":
        [{"lang": "en", "value": "CWE-367"}]}], "configurations": [{"nodes": [{"operator":
        "OR", "negate": false, "cpeMatch": [{"vulnerable": true, "criteria": "cpe:2.3:o:redhat:enterprise_linux:5.0:*:*:*:*:*:*:*",
        "matchCriteriaId": "1D8B549B-E57B-4DFE-8A13-CAB06B5356B3"}, {"vulnerable":
        true, "criteria": "cpe:2.3:o:redhat:enterprise_linux:6.0:*:*:*:*:*:*:*", "matchCriteriaId":
        "2F6AB192-9D7D-4A9A-8995-E53A9DE9EAFC"}, {"vulnerable": true, "criteria":
        "cpe:2.3:o:redhat:enterprise_linux:7.0:*:*:*:*:*:*:*", "matchCriteriaId":
        "142AD0DD-4CF3-4D74-9442-459CE3347E3A"}]}]}, {"nodes": [{"operator": "OR",
        "negate": false, "cpeMatch": [{"vulnerable": true, "criteria": "cpe:2.3:o:opensuse:opensuse:13.2:*:*:*:*:*:*:*",
        "matchCriteriaId": "03117DF1-3BEC-4B8D-AD63-DBBDB2126081"}]}]}, {"nodes":
        [{"operator": "OR", "negate": false, "cpeMatch": [{"vulnerable": true, "criteria":
        "cpe:2.3:a:libuser_project:libuser:*:*:*:*:*:*:*:*", "versionEndExcluding":
        "0.56.13-8", "matchCriteriaId": "74EBBDF5-9621-4D8D-8B14-CE05F509EC5C"}, {"vulnerable":
        true, "criteria": "cpe:2.3:a:libuser_project:libuser:*:*:*:*:*:*:*:*", "versionStartIncluding":
        "0.60", "versionEndExcluding": "0.60-7", "matchCriteriaId": "1EA764AD-8E7B-4D82-A246-66582E8D80B7"}]}]}],
        "references": [{"url": "http://lists.fedoraproject.org/pipermail/package-announce/2015-August/163044.html",
        "source": "secalert@redhat.com", "tags": ["Broken Link"]}, {"url": "http://lists.fedoraproject.org/pipermail/package-announce/2015-July/162947.html",
        "source": "secalert@redhat.com", "tags": ["Broken Link"]}, {"url": "http://lists.opensuse.org/opensuse-security-announce/2015-08/msg00000.html",
        "source": "secalert@redhat.com", "tags": ["Mailing List", "Third Party Advisory"]},
        {"url": "http://rhn.redhat.com/errata/RHSA-2015-1482.html", "source": "secalert@redhat.com",
        "tags": ["Vendor Advisory"]}, {"url"[...]
- request:
    body: ''
    headers:
      apikey:
      - '[REDACTED]'
    method: GET
    uri: https://services.nvd.nist.gov/rest/json/cves/2.0?lastModEndDate=2026-09-02T19%3A28%3A40.000&lastModStartDate=2026-08-26T19%3A28%3A40.000&resultsPerPage=2000&startIndex=2000
  response:
    body:
      string: '{"resultsPerPage": 2000, "startIndex": 2000, "totalResults": 6354,
        "format": "NVD_CVE", "version": "2.0", "timestamp": "2026-09-02T19:28:45.428",
        "vulnerabilities": [{"cve": {"id": "CVE-2026-72849", "sourceIdentifier": "disclosure@vulncheck.com",
        "published": "2026-08-13T22:17:24.140", "lastModified": "2026-08-31T20:30:14.457",
        "vulnStatus": "Deferred", "cveTags": [], "descriptions": [{"lang": "en", "value":
        "Budibase before 3.40.0 contains a cross-site request forgery vulnerability
        in the chat-link handoff endpoint that allows attackers to bind an external
        chat identity to a victim''s account. Attackers can craft a phishing page
        that auto-submits a POST request with a leaked confirmation token to bind
        their chat identity to a victim user''s account, enabling impersonation within
        agent operations and inheritance of victim permissions."}], "affected": [{"source":
        "disclosure@vulncheck.com", "affectedData": [{"vendor": "budibase", "product":
        "server", "defaultStatus": "unaffected", "packageURL": "pkg:npm/budibase/server",
        "versions": [{"version": "0", "lessThan": "3.40.0", "versionType": "semver",
        "status": "affected"}, {"version": "3.40.0", "versionType": "semver", "status":
        "unaffected"}]}]}], "metrics": {"cvssMetricV40": [{"source": "disclosure@vulncheck.com",
        "type": "Secondary", "cvssData": {"version": "4.0", "vectorString": "CVSS:4.0/AV:N/AC:H/AT:P/PR:L/UI:P/VC:H/VI:H/VA:N/SC:H/SI:H/SA:N/E:X/CR:X/IR:X/AR:X/MAV:X/MAC:X/MAT:X/MPR:X/MUI:X/MVC:X/MVI:X/MVA:X/MSC:X/MSI:X/MSA:X/S:X/AU:X/R:X/V:X/RE:X/U:X",
        "baseScore": 8.7, "baseSeverity": "HIGH", "attackVector": "NETWORK", "attackComplexity":
        "HIGH", "attackRequirements": "PRESENT", "privilegesRequired": "LOW", "userInteraction":
        "PASSIVE", "vulnConfidentialityImpact": "HIGH", "vulnIntegrityImpact": "HIGH",
        "vulnAvailabilityImpact": "NONE", "subConfidentialityImpact": "HIGH", "subIntegrityImpact":
        "HIGH", "subAvailabilityImpact": "NONE", "exploitMaturity": "NOT_DEFINED",
        "confidentialityRequirement": "NOT_DEFINED", "integrityRequirement": "NOT_DEFINED",
        "availabilityRequirement": "NOT_DEFINED", "modifiedAttackVector": "NOT_DEFINED",
        "modifiedAttackComplexity": "NOT_DEFINED", "modifiedAttackRequirements": "NOT_DEFINED",
        "modifiedPrivilegesRequired": "NOT_DEFINED", "modifiedUserInteraction": "NOT_DEFINED",
        "modifiedVulnConfidentialityImpact": "NOT_DEFINED", "modifiedVulnIntegrityImpact":
        "NOT_DEFINED", "modifiedVulnAvailabilityImpact": "NOT_DEFINED", "modifiedSubConfidentialityImpact":
        "NOT_DEFINED", "modifiedSubIntegrityImpact": "NOT_DEFINED", "modifiedSubAvailabilityImpact":
        "NOT_DEFINED", "Safety": "NOT_DEFINED", "Automatable": "NOT_DEFINED", "Recovery":
        "NOT_DEFINED", "valueDensity": "NOT_DEFINED", "vulnerabilityResponseEffort":
        "NOT_DEFINED", "providerUrgency": "NOT_DEFINED"}}], "cvssMetricV31": [{"source":
        "disclosure@vulncheck.com", "type": "Secondary", "cvssData": {"version": "3.1",
        "vectorString": "CVSS:3.1/AV:N/AC:H/PR:L/UI:R/S:C/C:H/I:H/A:N", "baseScore":
        7.7, "baseSeverity": "HIGH", "attackVector": "NETWORK", "attackComplexity":
        "HIGH", "privilegesRequired": "LOW", "userInteraction": "REQUIRED", "scope":
        "CHANGED", "confidentialityImpact": "HIGH", "integrityImpact": "HIGH", "availabilityImpact":
        "[...]
[...]
