interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.osv.dev/v1/vulns/CVE-2021-44228
  response:
    body:
      string: '{"id":"CVE-2021-44228","details":"Apache Log4j2 2.0-beta9 through 2.15.0
        (excluding security releases 2.12.2, 2.12.3, and 2.3.1) JNDI features used
        in configuration, log messages, and parameters do not protect against attacker
        controlled LDAP and other JNDI related endpoints. An attacker who can control
        log messages or log message parameters can execute arbitrary code loaded from
        LDAP servers when message lookup substitution is enabled. From log4j 2.15.0,
        this behavior has been disabled by default. From version 2.16.0 (along with
        2.12.2, 2.12.3, and 2.3.1), this functionality has been completely removed.
        Note that this vulnerability is specific to log4j-core and does not affect
        log4net, log4cxx, or other Apache Logging Services projects.","aliases":["GHSA-jfh8-c2jp-5v3q"],"modified":"2026-08-13T04:01:09.237466383Z","published":"2021-12-10T10:15:09.143Z","related":["SUSE-SU-2021:4096-1","SUSE-SU-2021:4097-1","openSUSE-SU-2021:1577-1","openSUSE-SU-2021:1586-1","openSUSE-SU-2021:1601-1","openSUSE-SU-2021:1613-1","openSUSE-SU-2021:3999-1","openSUSE-SU-2021:4094-1","openSUSE-SU-2021:4107-1","openSUSE-SU-2021:4109-1","openSUSE-SU-2024:11666-1","openSUSE-SU-2024:11683-1"],"database_specific":{"unresolved_ranges":[{"source":"CPE_RANGE","vendor_product":"apple:xcode","cpes":["cpe:2.3:a:apple:xcode:*:*:*:*:*:*:*:*"],"extracted_events":[{"fixed":"13.3"}]},{"source":"CPE_RANGE","vendor_product":"bentley:synchro","cpes":["cpe:2.3:a:bentley:synchro:*:*:*:*:pro:*:*:*"],"extracted_events":[{"introduced":"6.1"},{"fixed":"6.2.4.2"}]},{"extracted_events":[{"fixed":"6.4.3.2"}],"source":"CPE_RANGE","vendor_product":"bentley:synchro_4d","cpes":["cpe:2.3:a:bentley:synchro_4d:*:*:*:*:pro:*:*:*"]},{"extracted_events":[{"fixed":"3.5.4"}],"source":"CPE_RANGE","vendor_product":"cisco:advanced_malware_protection_virtual_private_cloud_appliance","cpes":["cpe:2.3:a:cisco:advanced_malware_protection_virtual_private_cloud_appliance:*:*:*:*:*:*:*:*"]},{"extracted_events":[{"fixed":"2.1.0"}],"source":"CPE_RANGE",[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.osv.dev/v1/vulns/GHSA-jfh8-c2jp-5v3q
  response:
    body:
      string: '{"id":"GHSA-jfh8-c2jp-5v3q","summary":"Remote code injection in Log4j","details":"#
        Summary\n\nLog4j versions prior to 2.16.0 are subject to a remote code execution
        vulnerability via the ldap JNDI parser.\nAs per [Apache''s Log4j security
        guide](https://logging.apache.org/log4j/2.x/security.html): Apache Log4j2
        \u003c=2.14.1 JNDI features used in configuration, log messages, and parameters
        do not protect against attacker controlled LDAP and other JNDI related endpoints.
        An attacker who[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.osv.dev/v1/vulns/CVE-2022-22965
  response:
    body:
      string: '{"id":"CVE-2022-22965","details":"A Spring MVC or Spring WebFlux application
        running on JDK 9+ may be vulnerable to remote code execution (RCE) via data
        binding. The specific exploit requires the application to run on Tomcat as
        a WAR deployment. If the application is deployed as a Spring Boot executable
        jar, i.e. the default, it is not vulnerable to the exploit. However, the nature
        of the vulnerability is more general, and there may be other ways to exploit
        it.","aliases":["GHSA-36p3-wjmg-h94x"],"modified":"2026-08-12T03:51:18.844690035Z","published":"2022-04-01T22:17:30Z","database_specific":{"cwe_ids":["CWE-94"],"osv_generated_from":"https://github.com/CVEProject/cvelistV5/tree/main/cves/2022/22xxx/CVE-2022-22965.json","unresolved_ranges":[{"extracted_events":[{"introduced":"Spring
        Framework versions 5.3.X prior to 5.3.18+, 5.2.x prior to 5.2.20+ and all
        old and unsupported versions"},{"last_affected":"Spring Framework versions
        5.3.X prior to 5.3.18+, 5.2.x prior to 5.2.20+ and all old and unsupported
        versions"}],"source":"AFFECTED_FIELD"}],"cna_assigner":"vmware"},"references":[{"type":"WEB","url":"http://packetstormsecurity.com/files/166713/Spring4Shell-Code-Execution.html"},{"type":"WEB","url":"http://packetstormsecurity.com/files/167011/Spring4Shell-Spring-Framework-Class-Property-Remote-Code-Execution.html"},{"type":"WEB","url":"https://cert-portal.siemens.com/productcert/pdf/ssa-254054.pdf"},{"type":"WEB","url":"https://psirt.global.sonicwall.com/vuln-detail/SNWLID-2022-0005"},{"type":"WEB","url":"https://tanzu.vmware.com/security/cve-2022-22965"},{"type":"WEB","url":"https://www.cisa.gov/known-exploited-vulnerabilities-catalog?field_cve=CVE-2022-22965"},{"type":"WEB","url":"https://www.kb.cert.org/vuls/id/970766"},{"type":"WEB","url":"https://www.oracle.com/security-alerts/cpuapr2022.html"},{"type":"WEB","url":"https://www.oracle.com/security-alerts/cpujul2022.html"},{"type":"ADVISORY","url":"https://github.com/CVEProject/cvelistV5/tree/main/cves/2022/22xxx/CVE-2022-22965.json"},{"type":"ADVISORY","url":"https://nvd.nist.gov/vuln/detail/CVE-2022-22965"},{"type":"ADVISORY","url":"https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-java-spring-rce-Zx9GUc67"}],"affected":[{"ranges":[{"type":"GIT","repo":"https://github.com/spring-projects/spring-framework","events":[{"introduced":"0"},{"fixed":"cfa701b8726f06528e9d408b1b94f333f70da45f"},{"introduced":"5acffaa72da10ba42fe547eeea44d8615cbf99b9"},{"fixed":"707a24c48b21fc35e8be715afc80f020a24a9714"}],"database_specific":{"extracted_events":[{"introduced":"0"},{"fixed":"5.2.20"},{"introduced":"5.3.0"},{"fixed":"5.3.18"}],"source":"CPE_RANGE","cpe":"cpe:2.3:a:vmware:spring_framework:*:*:*:*:*:*:*:*"}}],"versions":["v4.0.0.RC2","v4.0.0.RC1","v4.0.0.M3","v4.0.0.M2","v4.0.0.M1","v3.2.0.RELEASE","v3.2.0.RC2-A","v3.2.0.RC1","v3.2.0.M2","v3.2.0.M1"],"database_specific":{"source":"https://storage.googleapis.com/cve-osv-conversion/osv-output/CVE-2022-22965.json"}}],"schema_version":"1.9.0","severity":[{"type":"CVSS_V3","score":"CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H"}]}'
    headers:
      content-type:
      - application/json
      grpc-message:
      - ''
      grpc-status:
      - '0'
      x-cloud-trace-context:
      - 31c78730cf8b34ea197d370c2d7b2a47/483947404254292449
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.osv.dev/v1/vulns/GHSA-36p3-wjmg-h94x
  response:
    body:
      string: '{"id":"GHSA-36p3-wjmg-h94x","summary":"Remote Code Execution in Spring
        Framework","details":"Spring Framework prior to versions 5.2.20 and 5.3.18
        contains a remote code execution vulnerability known as `Spring4Shell`. \n\n##
        Impact\n\nA Spring MVC or Spring WebFlux application running on JDK 9+ may
        be vulnerable to rem[...]
