interactions:
- request:
    body: ''
    headers:
      auth-key:
      - bc41d2de3484d88491d0bfe2e9870a5a178a765f6527df45
    method: GET
    uri: https://urlhaus-api.abuse.ch/v1/urls/recent/?limit=1000
  response:
    body:
      string: "{\n    \"query_status\": \"ok\",\n    \"urls\": [\n        {\n            \"id\":
        3915599,\n            \"urlhaus_reference\": \"https:\\/\\/urlhaus.abuse.ch\\/url\\/3915599\\/\",\n
        \           \"url\": \"http:\\/\\/182.116.14.197:47791\\/bin.sh\",\n            \"url_status\":
        \"online\",\n            \"host\": \"182.116.14.197\",\n            \"date_added\":
        \"2026-09-12 11:45:28 UTC\",\n            \"threat\": \"malware_download\",\n
        \           \"blacklists\": {\n                \"spamhaus_dbl\": \"not listed\",\n
        \               \"surbl\": \"not listed\"\n            },\n            \"reporter\":
        \"geenensp\",\n            \"larted\": \"true\",\n            \"tags\": [\n
        \               \"32-bit\",\n                \"elf\",\n                \"mips\",\n
        \               \"Mozi\"\n            ]\n        },\n        {\n            \"id\":
        3915598,\n            \"urlhaus_reference\": \"https:\\/\\/urlhaus.abuse.ch\\/url\\/3915598\\/\",\n
        \           \"url\": \"http:\\/\\/62.60.226.140\\/files\\/7299809293\\/yTjGAos.exe\",\n
        \           \"url_status\": \"offline\",\n            \"host\": \"62.60.226.140\",\n
        \      [...]
