interactions:
- request:
    body: ''
    headers:
      x-apikey:
      - '[REDACTED]'
    method: GET
    uri: https://www.virustotal.com/api/v3/ip_addresses/8.8.8.8
  response:
    body:
      string: '{"data": {"id": "8.8.8.8", "type": "ip_address", "links": {"self":
        "https://www.virustotal.com/api/v3/ip_addresses/8.8.8.8"}, "attributes": {"as_owner":
        "Google LLC", "asn": 15169, "reputation": 560, "last_https_certificate_date":
        1788743823, "whois": "NetRange: 8.8.8.0 - 8.8.8.255\nCIDR: 8.8.8.0/24\nNetName:
        GOGL\nNetHandle: NET-8-8-8-0-2\nParent: NET8 (NET-8-0-0-0-0)\nNetType: Direct
        Allocation\nOriginAS: \nOrganization: Google LLC (GOGL)\nRegDate: 2023-12-28\nUpdated:
        2023-12-28\nRef: https://rdap.arin.net/registry/ip/8.8.8.0\nOrgName: Google
        LLC\nOrgId: GOGL\nAddress: 1600 Amphitheatre Parkway\nCity: Mountain View\nStateProv:
        CA\nPostalCode: 94043\nCountry: US\nRegDate: 2000-03-30\nUpdated: 2019-10-31\nComment:
        Please note that the recommended way to file abuse complaints are located
        in the following links. \nComment: \nComment: To report abuse and illegal
        activity: https://www.google.com/contact/\nComment: \nComment: For legal requests:
        http://support.google.com/legal \nComment: \nComment: Regards, \nComment:
        The Google Team\nRef: https://rdap.arin.net/registry/entity/GOGL\nOrgAbuseHandle:
        ABUSE5250-ARIN\nOrgAbuseName: Abuse\nOrgAbusePhone: +1-650-253-0000 \nOrgAbuseEmail:
        network-abuse@google.com\nOrgAbuseRef: https://rdap.arin.net/registry/entity/ABUSE5250-ARIN\nOrgTechHandle:
        ZG39-ARIN\nOrgTechName: Google LLC\nOrgTechPhone: +1-650-253-0000 \nOrgTechEmail:
        arin-contact@google.com\nOrgTechRef: https://rdap.arin.net/registry/entity/ZG39-ARIN\n",
        "rdap": {"object_class_name": "ip network", "handle": "NET-8-8-8-0-2", "start_address":
        "8.8.8.0", "end_address": "8.8.8.255", "ip_version": "v4", "name": "GOGL",
        "type": "DIRECT ALLOCATION", "parent_handle": "NET-8-0-0-0-0", "status": ["active"],
        "links": [{"href": "https://rdap.arin.net/registry/ip/8.8.8.0", "rel": "self",
        "type": "application/rdap+json", "value": "https://rdap.arin.net/registry/ip/8.8.8.8",
        "title": "", "media": "", "href_lang": []}, {"href": "https://whois.arin.net/rest/net/NET-8-8-8-0-2",
        "rel": "alternate", "type": "application/xml", "value": "https://rdap.arin.net/registry/ip/8.8.8.8",
        "title": "", "media": "", "href_lang": []}], "notices": [{"title": "Terms
        of Service", "description": ["By using the ARIN RDAP/Whois service, you are
        agreeing to the RDAP/Whois Terms of Use"], "links": [{"href": "https://www.arin.net/resources/registry/whois/tou/",
        "rel": "terms-of-service", "type": "text/html", "value": "https://rdap.arin.net/registry/ip/8.8.8.8",
        "title": "", "media": "", "href_lang": []}], "type": ""}, {"title": "Whois
        Inaccuracy Reporting", "description": ["If you see inaccuracies in the results,
        please visit: "], "links": [{"href": "https://www.arin.net/resources/registry/whois/inaccuracy_reporting/",
        "rel": "inaccuracy-report", "type": "text/html", "value": "https://rdap.arin.net/registry/ip/8.8.8.8",
        "title": "", "media": "", "href_lang": []}], "type": ""}, {"title": "Copyright
        Notice", "description": ["Copyright 1997-2026, American Registry for Internet
        Numbers, Ltd."], "links": [], "type": ""}], "events": [{"event_action": "last
        changed", "event_date": "2023-12-28T17:24:56-05:00", "event_actor": "", "links":
        []}, {"event_action": "registration", "event_date": "2023-12-28T17:24:33-05:00",
        "event_actor": "", "links": []}], "rdap_conformance": ["nro_rdap_profile_0",
        "rdap_level_0", "cidr0", "arin_originas0"], "entities": [{"object_class_name":
        "entity", "handle": "GOGL", "vcard_array": [{"name": "version", "type": "text",
        "values": ["4.0"], "parameters": {}}, {"name": "fn", "type": "text", "values":
        ["Google LLC"], "parameters": {}}, {"name": "adr", "parameters": {"label":
        ["1600 Amphitheatre Parkway\nMountain View\nCA\n94043\nUnited States"]}, "type":
        "text", "values": ["", "", "", "", "", "", ""]}, {"name": "kind", "type":
        "text", "values": ["org"], "parameters": {}}], "roles": ["registrant"], "entities":
        [{"object_class_name": "entity", "handle": "ABUSE5250-ARIN", "vcard_array":
        [{"name": "version", "type": "text", "values": ["4.0"], "parameters": {}},
        {"name": "adr", "parameters": {"label": ["1600 Amphitheatre Parkway\nMountain
        View\nCA\n94043\nUnited States"]}, "type": "text", "values": ["", "", "",
        "", "", "", ""]}, {"name": "fn", "type": "text", "values": ["Abuse"], "parameters":
        {}}, {"name": "org", "type": "text", "values": ["Google Inc."], "parameters":
        {}}, {"name": "kind", "type": "text", "values": ["group"], "parameters": {}},
        {"name": "email", "type": "text", "values": ["network-abuse@google.com"],
        "parameters": {}}, {"name": "tel", "parameters": {"type": ["work", "voice"]},
        "type": "text", "values": ["+1-650-253-0000"]}], "roles": ["abuse"], "remarks":
        [{"title": "Registration Comments", "description": ["Please note that the
        recommended way to file abuse complaints are located in the following links.",
        "", "To report abuse and illegal activity: https://www.google.com/contact/",
        "", "For legal requests: http://support.google.com/legal ", "", "Regards,",
        "The Google Team"], "links": [], "type": ""}], "links": [{"href": "https://rdap.arin.net/registry/entity/ABUSE5250-ARIN",
        "rel": "self", "type": "application/rdap+json", "value": "https://rdap.arin.net/registry/ip/8.8.8.8",
        "title": "", "media": "", "href_lang": []}, {"href": "https://whois.arin.net/rest/poc/ABUSE5250-ARIN",
        "rel": "alternate", "type": "application/xml", "value": "https://rdap.arin.net/registry/ip/8.8.8.8",
        "title": "", "media": "", "href_lang": []}], "events": [{"event_action": "last
        changed", "event_date": "2026-08-19T14:34:18-04:00", "event_actor": "", "links":
        []}, {"event_action": "registration", "event_date": "2015-11-06T15:36:35-05:00",
        "event_actor": "", "links": []}], "status": ["validated"], "port43": "whois.arin.net",
        "public_ids": [], "entities": [], "as_event_actor": [], "networks": [], "autnums":
        [], "url": "", "lang": "", "rdap_conformance": []}, {"object_class_name":
        "entity", "handle": "ZG39-ARIN", "vcard_array": [{"name": "version", "type":
        "text", "values": ["4.0"], "parameters": {}}, {"name": "adr", "parameters":
        {"label": ["1600 Amphitheatre Parkway\nMountain View\nCA\n94043\nUnited States"]},
        "type": "text", "values": ["", "", "", "", "", "", ""]}, {"name": "fn", "type":
        "text", "values": ["Google LLC"], "parameters": {}}, {"name": "org", "type":
        "text",[...]
- request:
    body: ''
    headers:
      x-apikey:
      - '[REDACTED]'
    method: GET
    uri: https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1
  response:
    body:
      string: '{"data": {"id": "1.1.1.1", "type": "ip_address", "links": {"self":
        "https://www.virustotal.com/api/v3/ip_addresses/1.1.1.1"}, "attributes": {"as_owner":
        "Cloudflare, Inc.", "tags": ["suspicious-udp"], "last_analysis_results": {"Acronis":
        {"method": "blacklist", "engine_name": "Acronis", "category": "harmless",
        "result": "clean"}, "0xSI_f33d": {"method": "blacklist", "engine_name": "0xSI_f33d",
        "category": "undetected", "result": "unrated"}, "Abusix": {"method": "blacklist",
        "engine_name": "Abusix", "category": "harmless", "result": "clean"}, "ADMINUSLabs":
        {"method": "blacklist", "engine_name": "ADMINUSLabs", "category": "harmless",
        "result": "clean"}, "Axur": {"method": "blacklist", "engine_name": "Axur",
        "category": "undetected", "result": "unrated"}, "ChainPatrol": {"method":
        "blacklist", "engine_name": "ChainPatrol", "category": "undetected", "result":
        "unrated"}, "Criminal IP": {"method": "blacklist", "engine_name": "Criminal
        IP", "category": "undetected", "result": "unrated"}, "AILabs (MONITORAPP)":
        {"method": "blacklist", "engine_name": "AILabs (MONITORAPP)", "category":
        "harmless", "result": "clean"}, "AlienVault": {"method": "blacklist", "engine_name":
        "AlienVault", "category": "harmless", "result": "clean"}, "alphaMountain.ai":
        {"method": "blacklist", "engine_name": "alphaMountain.ai", "category": "harmless",
        "result": "clean"}, "AlphaSOC": {"method": "blacklist", "engine_name": "AlphaSOC",
        "category": "undetected", "result": "unrated"}, "Antiy-AVL": {"method": "blacklist",
        "engine_name": "Antiy-AVL", "category": "harmless", "result": "clean"}, "ArcSight
        Threat Intelligence": {"method": "blacklist", "engine_name": "ArcSight Threat
        Intelligence", "category": "undetected", "result": "unrated"}, "AutoShun":
        {"method": "blacklist", "engine_name": "AutoShun", "category": "undetected",
        "result": "unrated"}, "Bfore.Ai PreCrime": {"method": "blacklist", "engine_name":
        "Bfore.Ai PreCrime", "category": "undetected", "result": "unrated"}, "BitDefender":
        {"method": "blacklist", "engine_name": "BitDefender", "category": "harmless",
        "result": "clean"}, "Bkav": {"method": "blacklist", "engine_name": "Bkav",
        "category": "undetected", "result": "unrated"}, "Blueliv": {"method": "blacklist",
        "engine_name": "Blueliv", "category": "harmless", "result": "clean"}, "Certego":
        {"method": "blacklist", "engine_name": "Certego", "category": "harmless",
        "result": "clean"}, "Chong Lua Dao": {"method": "blacklist", "engine_name":
        "Chong Lua Dao", "category": "harmless", "result": "clean"}, "CINS Army":
        {"method": "blacklist", "engine_name": "CINS Army", "category": "harmless",
        "result": "clean"}, "CRDF": {"method": "blacklist", "engine_name": "CRDF",
        "category": "harmless", "result": "clean"}, "CSIS Security Group": {"method":
        "blacklist", "engine_name": "CSIS Security Group", "category": "undetected",
        "result": "unrated"}, "Snort IP sample list": {"method": "blacklist", "engine_name":
        "Snort IP sample list", "category": "undetected", "result": "unrated"}, "CMC
        Threat Intelligence": {"method": "blacklist", "engine_name": "CMC Threat Intelligence",
        "category": "harmless", "result": "clean"}, "CTX AI": {"method": "blacklist",
        "engine_name": "CTX AI", "category": "harmless", "result": "clean"}, "Cyan":
        {"method": "blacklist", "engine_name": "Cyan", "category": "undetected", "result":
        "unrated"}, "Cyble": {"method": "blacklist", "engine_name": "Cyble", "category":
        "harmless", "result": "clean"}, "CyRadar": {"method": "blacklist", "engine_name":
        "CyRadar", "category": "harmless", "result": "clean"}, "DNS8": {"method":
        "blacklist", "engine_name": "DNS8", "category": "undetected", "result": "unrated"},
        "Dr.Web": {"method": "blacklist", "engine_name": "Dr.Web", "category": "harmless",
        "result": "clean"}, "Ermes": {"method": "blacklist", "engine_name": "Ermes",
        "category": "undetected", "result": "unrated"}, "ESET": {"method": "blacklist",
        "engine_name": "ESET", "category": "harmless", "result": "clean"}, "ESTsecurity":
        {"method": "blacklist", "engine_name": "ESTsecurity", "category": "harmless",
        "result": "clean"}, "EmergingThreats": {"method": "blacklist", "engine_name":
        "EmergingThreats", "category": "harmless", "result": "clean"}, "Emsisoft":
        {"method": "blacklist", "engine_name": "Emsisoft", "category": "harmless",
        "result": "clean"}, "Forcepoint ThreatSeeker": {"method": "blacklist", "engine_name":
        "Forcepoint ThreatSeeker", "category": "harmless", "result": "clean"}, "Fortinet":
        {"method": "blacklist", "engine_name": "Fortinet", "category": "harmless",
        "result": "clean"}, "Fortra": {"method": "blacklist", "engine_name": "Fortra",
        "category": "undetected", "result": "unrated"}, "G-Data": {"method": "blacklist",
        "engine_name": "G-Data", "category": "harmless", "result": "clean"}, "GCP
        Abuse Intelligence": {"method": "blacklist", "engine_name": "GCP Abuse Intelligence",
        "category": "undetected", "result": "unrated"}, "Google Safe Browsing": {"method":
        "blacklist", "engine_name": "Google Safe Browsing", "category": "harmless",
        "result": "clean"}, "GreenSnow": {"method": "blacklist", "engine_name": "GreenSnow",
        "category": "harmless", "result": "clean"}, "GreyNoise": {"method": "blacklist",
        "engine_name": "GreyNoise", "category": "undetected", "result": "unrated"},
        "Gridinsoft": {"method": "blacklist", "engine_name": "Gridinsoft", "category":
        "undetected", "result": "unrated"}, "Guardpot": {"method": "blacklist", "engine_name":
        "Guardpot", "category": "undetected", "result": "unrated"}, "Heimdal Security":
        {"method": "blacklist", "engine_name": "Heimdal Security", "category": "harmless",
        "result": "clean"}, "Hunt.io Intelligence": {"method": "blacklist", "engine_name":
        "Hunt.io Intelligence", "category": "undetected", "result": "unrated"}, "IPsum":
        {"method": "blacklist", "engine_name": "IPsum", "category": "harmless", "result":
        "clean"}, "Juniper Networks": {"method": "blacklist", "engine_name": "Juniper
        Networks", "category": "harmless", "result": "clean"}, "Kaspersky": {"method":
        "blacklist", "engine_name": "Kaspersky", "category": "harmless", "result":
        "clean"}, "LevelBlue": {"method": "blacklist", "engine_name": "LevelBlue",
        "category": "harmless", "result": "clean"}, "Lionic": {"method": "blacklist",
        "engine_name": "Lionic", "category": "harmless", "result": "clean"}, "Lumu":
        {"method": "blacklist", "engine_name": "Lumu", "category": "undetected", "result":
        "unrated"}, "MalwarePatrol": {"method": "blacklist", "engine_name": "MalwarePatrol",
        "category": "harmless", "result": "clean"}, "MalwareURL": {"method": "blacklist",
        "engine_name": "MalwareURL", "category": "undetected", "result": "unrated"},
        "Malwared": {"method": "blacklist", "engine_name": "Malwared", "category":
        "harmless", "result": "clean"}, "Mimecast": {"method": "blacklist", "engine_name":
        "Mimecast", "category": "undetected", "result": "unrated"}, "Netcraft": {"method":
        "blacklist", "engine_name": "Netcraft", "category": "undetected", "result":
        "unrated"}, "OpenPhish": {"method": "blacklist", "engine_name": "OpenPhish",
        "category": "harmless", "result": "clean"}, "Phishing Database": {"method":
        "blacklist", "engine_name": "Phishing Database", "category": "harmless", "result":
        "clean"}, "PhishFort": {"method": "blacklist", "engine_name": "PhishFort",
        "category": "undetected", "result": "unrated"}, "Phishtank": {"method": "blacklist",
        "engine_name": "Phishtank", "category": "harmless", "result": "clean"}, "PREBYTES":
        {"method": "blacklist", "engine_name": "PREBYTES", "category": "harmless",
        "result": "clean"}, "PrecisionSec": {"method": "blacklist", "engine_name":
        "PrecisionSec", "category": "undetected", "result": "unrated"}, "Quick Heal":
        {"method": "blacklist", "engine_name": "Quick Heal", "category": "harmless",
        "result": "clean"}, "Quttera": {"method": "blacklist", "engine_name": "Quttera",
        "category": "harmless", "result": "clean"}, "SafeToOpen": {"method": "blacklist",
        "engine_name": "SafeToOpen", "category": "undetected", "result": "unrated"},
        "Sansec eComscan": {"method": "blacklist", "engine_name": "Sansec eComscan",
        "category": "undetected", "result": "unrated"}, "Scantitan": {"method": "blacklist",
        "engine_name": "Scantitan", "category": "harmless", "result": "clean"}, "SCUMWARE.org":
        {"method": "blacklist", "engine_name": "SCUMWARE.org", "category": "harmless",
        "result": "clean"}, "Seclookup": {"method": "blacklist", "engine_name": "Seclookup",
        "category": "harmless", "result": "clean"}, "SecureBrain": {"method": "blacklist",
        "engine_name": "SecureBrain", "category": "undetected", "result": "unrated"},
        "SOCRadar": {"method": "blacklist", "engine_name": "SOCRadar", "category":
        "harmless", "result": "clean"}, "Sophos": {"method": "blacklist", "engine_name":
        "Sophos", "category": "harmless", "result": "clean"}, "StopForumSpam": {"method":
        "blacklist", "engine_name": "StopForumSpam", "category": "harmless", "result":
        "clean"}, "Sucuri SiteCheck": {"method": "blacklist", "engine_name": "Sucuri
        SiteCheck", "category": "harmless", "result": "clean"}, "ThreatHive": {"method":
        "blacklist", "engine_name": "ThreatHive", "category": "harmless", "result":
        "clean"}, "URLhaus": {"method": "blacklist", "engine_name": "URLhaus", "category":
        "harmless", "result": "clean"}, "URLQuery": {"method": "blacklist", "engine_name":
        "URLQuery", "category": "undetected", "result": "unrated"}, "Viettel Threat
        Intelligence": {"method": "blacklist", "engine_name": "Viettel Threat Intelligence",
        "category": "harmless", "result": "clean"}, "VIPRE": {"method": "blacklist",
        "engine_name": "VIPRE", "category": "undetected", "result": "unrated"}, "VX
        Vault": {"method": "blacklist", "engine_name": "VX Vault", "category": "harmless",
        "result": "clean"}, "ViriBack": {"method": "blacklist", "engine_name": "ViriBack",
        "category": "harmless", "result": "clean"}, "Webroot": {"method": "blacklist",
        "engine_name": "Webroot", "category": "harmless", "result": "clean"}, "Yandex
        Safebrowsing": {"method": "blacklist", "engine_name": "Yandex Safebrowsing",
        "category": "harmless", "result": "clean"}, "ZeroCERT": {"method": "blacklist",
        "engine_name": "ZeroCERT", "category": "harmless", "result": "clean"}, "desenmascara.me":
        {"method": "blacklist", "engine_name": "desenmascara.me", "category": "harmless",
        "result": "clean"}, "Xcitium Verdict Cloud": {"method": "blacklist", "engine_name":
        "Xcitium Verdict Cloud", "category": "undetected", "result": "unrated"}, "ZeroFox":
        {"method": "blacklist", "engine_name": "ZeroFox", "category": "undetected",
        "result": "unrated"}}, "total_votes": {"harmless": 152, "malicious": 38},
        "asn": 13335, "last_modification_date": 1788748658, "last_https_certificate":
        {"cert_signature": {"signature_algorithm": "1.2.840.10045.4.3.3", "signature":
        "306402301b2eb53f7f34ee2a79c9dc5e3fe15aeaf3fd0581b24ec6cab641ef5480d4fed03010e89c5a727e41105a889600d7cf0f023012fce5ba42cf30d3c2296380704acb379151ea1e24a8c1337752ea4e3bb1e2348d5d6cc2b205639cec499f8ab7323285"},
        "extensions": {"CA": false, "authority_key_identifier": {"keyid": "0d74660a5e9fe22cecd5c25d25047f7532baff7d"},
        "ca_information_access": {"CA Issuers": "http://cert.ssl.com/SSLcom-SubCA-SSL-ECC-384-R2.cer",
        "OCSP": "http://ocsps.ssl.com"}, "subject_alternative_name": ["cloudflare-dns.com",
        "*.cloudflare-dns.com", "1.0.0.1", "1.1.1.1", "162.159.36.1", "162.159.46.1",
        "2606:4700:4700::1001", "2606:4700:4700::1111", "2606:4700:4700::64", "2606:4700:4700::6400",
        "one.one.one.one"], "certificate_policies": ["2.23.140.1.2.2", "1.3.6.1.4.1.38064.1.3.1.2"],
        "extended_key_usage": ["serverAuth"], "crl_distribution_points": ["http://crls.ssl.com/SSLcom-SubCA-SSL-ECC-384-R2.crl"],
        "subject_key_identifier": "2c28ec5420b686002655aa69bbb6c3652e16fa1f", "key_usage":
        ["digitalSignature"], "1.3.6.1.4.1.11129.2.4.2": "0482016b0169007600c2317e574519a345ee7f38deb29041ebc7c2215a22bf7f"},
        "validity": {"not_after": "2026-12-21 19:20:01", "not_before": "2025-12-31
        19:20:01"}, "size": 1413, "version": "V3", "public_key": {"algorithm": "EC",
        "ec": {"oid": "secp256r1", "pub": "3059301306072a8648ce3d020106082a8648ce3d030107034200046383502512ea727819eb3247afc105529c2a2b608a844e756d814847c1c7becf85796c12295b50b3ccec50a1949edc4408070c801a93d3bd78117bb6a3c8eaac"}},
        "thumbprint_sha256": "e3b02826789d653d224d3edacbe4e877cb7286fc4c922672f6226741ca57ad65",
        "thumbprint": "f88635017260d40b9eb417bee73737911b630e59", "serial_number":
        "4ed03304c46b87a8c2eb5569db9eba0c", "issuer": {"C": "US", "ST": "Texas", "L":
        "Houston", "O": "SSL Corp", "CN": "SSL.com SSL Intermediate CA ECC R2"}, "subject":
        {"C": "US", "ST": "California", "L": "San Francisco", "O": "Cloudflare, Inc.",
        "CN": "cloudflare-dns.com"}}, "last_analysis_stats": {"malicious": 0, "suspicious":
        0, "undetected": 33, "harmless": 57, "timeout": 0}, "whois_date": 1788120482,
        "last_https_certificate_date": 1788746409, "last_analysis_date": 1788746108,
        "rdap": {"object_class_name": "ip network", "handle": "1.1.1.0 - 1.1.1.255",
        "start_address": "1.1.1.0", "end_address": "1.1.1.255", "ip_version": "v4",
        "name": "APNIC-LABS", "type": "ASSIGNED PORTABLE", "country": "AU", "status":
        ["active"], "links": [{"href": "https://rdap.apnic.net/ip/1.1.1.0/24", "rel":
        "self", "type": "application/rdap+json", "value": "https://rdap.apnic.net/ip/1.1.1.1",
        "title": "", "media": "", "href_lang": []}], "notices": [{"title": "Source",
        "description": ["Objects returned came from source", "APNIC"], "links": [],
        "type": ""}, {"title": "Terms and Conditions", "description": ["This is the
        APNIC WHOIS Database query service. The objects are in RDAP format."], "links":
        [{"href": "http://www.apnic.net/db/dbcopyright.html", "rel": "terms-of-service",
        "type": "text/html", "value": "https://rdap.apnic.net/ip/1.1.1.1", "title":
        "", "media": "", "href_lang": []}], "type": ""}, {"title": "Whois Inaccuracy
        Reporting", "description": ["If you see inaccuracies in the results, please
        visit: "], "links": [{"href": "https://www.apnic.net/manage-ip/using-whois/abuse-and-spamming/invalid-contact-form",
        "rel": "inaccuracy-report", "type": "text/html", "value": "https://rdap.apnic.net/ip/1.1.1.1",
        "title": "", "media": "", "href_lang": []}], "type": ""}], "events": [{"event_action":
        "registration", "event_date": "2011-08-10T23:12:35Z", "event_actor": "", "links":
        []}, {"event_action": "last changed", "event_date": "2023-04-26T22:57:58Z",
        "event_ac[...]
