interactions:
- request:
    body: ''
    headers:
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.vulncheck.com/v3/index/vulncheck-kev?limit=1000&page=1
  response:
    body:
      string: '{"_benchmark": 0.579998, "_meta": {"timestamp": "2026-09-07T00:43:04.177275283Z",
        "index": "vulncheck-kev", "limit": 1000, "total_documents": 5229, "sort":
        "_id", "parameters": [{"name": "date", "format": "YYYY-MM-DD"}, {"name": "date",
        "format": "YYYY-MM-DD"}, {"name": "updatedAtStartDate", "format": "YYYY-MM-DD"},
        {"name": "updatedAtEndDate", "format": "YYYY-MM-DD"}, {"name": "lastModStartDate",
        "format": "YYYY-MM-DD"}, {"name": "lastModEndDate", "format": "YYYY-MM-DD"},
        {"name": "pubStartDate", "format": "YYYY-MM-DD"}, {"name": "pubEndDate", "format":
        "YYYY-MM-DD"}, {"name": "cve", "format": "^CVE-\\d{4}-\\d{4,7}$"}, {"name":
        "alias"}, {"name": "iava", "format": "(?i)^\\d{4}[a-z0-9-]+$"}, {"name": "jvndb",
        "format": "(?i)^JVNDB-\\d{4}-\\d{6}$"}, {"name": "ilvn", "format": "(?i)^ILVN-\\d{4}-\\d{4}$"},
        {"name": "threat_actor"}, {"name": "mitre_id"}, {"name": "misp_id"}, {"name":
        "ransomware"}, {"name": "botnet"}, {"name": "published"}], "order": "desc",
        "page": 1, "total_pages": 6, "max_pages": 6, "first_item": 1, "last_item":
        1000}, "data": [{"vendorProject": "Sangoma", "product": "Switchvox", "shortDescription":
        "Sangoma Switchvox contains a SQL injection vulnerability which allows an
        unauthenticated remote attacker to execute arbitrary SQL statements against
        the backend PostgreSQL database using a single crafted request, including
        database operations and remote code execution.", "vulnerabilityName": "Sangoma
        Switchvox SQL Injection Vulnerability", "required_action": "Apply mitigations
        in accordance with vendor instructions, ensuring compliance with CISA\u2019s
        BOD 26-04 Prioritizing Security Updates Based on Risk (see URL in Notes) guidance
        and CISA\u2019s \u201cForensics Triage Requirements\u201d (see URL in Notes).
        Follow applicable BOD 26-04 guidance for cloud services or discontinue use
        of the product if mitigations are unavailable. Stakeholders are responsible
        for evaluating each asset''s internet exposure and ensuring adherence to BOD
        26-04 patching guidelines.", "knownRansomwareCampaignUse": "Unknown", "cve":
        ["CVE-2026-9586"], "cwes": ["CWE-89"], "vulncheck_xdb": [], "vulncheck_reported_exploitation":
        [{"url": "https://horizon3.ai/attack-research/disclosures/cve-2026-9586-sangoma-switchvox-rce/",
        "date_added": "2026-09-01T00:00:00Z"}, {"url": "https://previdian.com/CVE-2026-9586",
        "date_added": "2026-09-01T00:00:00Z"}, {"url": "https://x.com/DefusedCyber/status/2094790121505604074",
        "date_added": "2026-09-01T00:00:00Z"}], "reported_exploited_by_vulncheck_canaries":
        false, "dueDate": "2026-09-05T00:00:00Z", "cisa_date_added": "2026-09-02T00:00:00Z",
        "date_added": "2026-09-01T00:00:00Z", "updated_at": "2026-09-01T00:00:00Z",
        "_timestamp": "2026-09-05T12:21:47.794894283Z"}, {"vendorProject": "BoldGrid",
        "product": "w3_total_cache", "shortDescription": "The W3 Total Cache plugin
        for WordPress is vulnerable to Directory Traversal in all versions up to,
        and including, 2.9.4 via the setupSources function. This makes it possible
        for unauthenticated attackers to read the contents of arbitrary files on the
        server, which can contain sensitive information. Exploitation requires enabling
        manu[...]
[...]
